__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.ckpt
*.pt
*.pth
reactot-pretrained.ckpt
*.pkl
*.npz
*.npy
reactot/data/
reactot/data_meci/
inp_xyzs/
logs/
logs_local_debug/
wandb/
lightning_logs/
checkpoint/
test_results/
my_results/
*_rxn.xyz
*_ts.xyz
comparison_result.xyz
*.egg-info/
venv/
.env
.vscode/
A/
*.log

tmp/
reactot/13131875.zip
results/
*.swp
